[2017-01-31 09:34] renchap opened #2 "Testing suite"
We need to have a testing suite covering both the Ruby and JS code.
It will be run on all PRs using Circle CI.

[2017-01-31 09:44] renchap opened #3 "Server-side rendering"
Using ExecJS, we should be able (optionally) to run React on the server, render the content, and then re-hydrate the components in the browser.

The steps for this would be something like:
- find how to determine the path of the pack file containing the component. This is not trivial and I think we will need to load all the packs, maybe with an option for the user to specify the correct one and av

[2017-01-31 09:59] renchap opened #4 "Hot reloading support"
Hot Reloading of React code is very powerful when done correctly, and we should support it.

The best way to do so seems to be React-Hot-Reloader version 3, currently not released : https://github.com/gaearon/react-hot-loader/pull/240
Gaearon's take on why it is not yet released : https://github.com/gaearon/react-hot-boilerplate/issues/97
TL;DR: is is often misused and badly integrated, thus peopl

[2017-02-07 11:09] mfazekas opened #6 "Webpack 2.2.0 - Cannot assign to read only property 'exports' of object '#<Object>'"
[code]

when trying `webpacker-react-example` i'm receiving
`Uncaught TypeError: Cannot assign to read only property 'exports' of object '#<Object>'`

According to chrom it seems to be coming from this line:

[code]

See https://github.com/webpack/webpack/issues/4039

[2017-02-07 11:32] mfazekas commented on #6
Seems to be fixed by upgrading `pakcage.json` in webpacker-react-example

[2017-02-07 11:44] #6 closed

[2017-02-07 11:44] renchap commented on #6
Yes, this has been fixed in version 0.0.4 of the `webpacker-react` NPM package. Thanks for the PR 👍

[2017-02-07 23:15] daninfpj commented on #3
I'm gonna start working on this soon. I think to load the pack files we should stick to some convention (probably configurable) like [react-rails](https://github.com/reactjs/react-rails#server-rendering) does, so we know where can find the components.

[2017-02-08 20:43] renchap commented on #3
You can have multiple components registered in one packfile. The logic is to have separate packs for different parts of your website, but you may have multiple root components in it, especially if not using an SPA.

[2017-02-08 22:01] daninfpj commented on #3
Exactly, that file (`components.js`) loads all the components you'll be using for sever-side rendering and their dependencies. I think that makes sense and simplifies the logic of trying to locate the right packfile. And in practice you don't necessarily have to include it in your views, you can include there the separate packs you mention.

[2017-02-09 03:11] sealocal opened #8 "Multiple calls to render_component"
Thank you for taking initiative to develop `webpacker-react`!

I noticed that the view helper does not render iterations.

I'd like to render multiple components in my Rails views, for example:

[code]

Is this intentional behavior, or perhaps a bug?

[2017-02-09 07:55] renchap commented on #8
This is indeed a bug. I will have a look.

[2017-02-09 11:09] sealocal commented on #8
OK, thanks for confirmation.  I can submit a PR with a fix tomorrow.

[2017-02-10 09:12] renchap commented on #2
Closed by #5. Thanks @daninfpj!

[2017-02-10 09:12] #2 closed

[2017-02-10 09:13] renchap commented on #3
Seems good. Maybe use a more expressive default name, like `app/javascripts/components/serverRendering.js`?
Also this should be a configuration option, and allow an array of files to be loaded.

[2017-02-10 14:36] renchap commented on #8
Fixed by #5

[2017-02-10 14:36] #8 closed

[2017-02-22 13:58] renchap opened #11 "Switch back Yarn root to Rails root"
See rails/rails#28093

Documentation and example app probably needs to be updated for this.

[2017-02-22 14:18] renchap opened #12 "Switch Capybara tests to Rails System Tests"
rails/rails#26703 has been merged, it may be cleaner to use it in place of `ActionDispatch::IntegrationTest`

@daninfpj as you added this part, what do you think ?

[2017-02-22 15:35] daninfpj commented on #12
Definitely! I'll make the changes.

[2017-02-23 21:06] renchap commented on #4
Implemented by #7

[2017-02-23 21:06] #4 closed

[2017-02-24 19:49] sevos opened #13 "Support for Turbolinks"
Another gem: react-rails implements react-ujs:

https://github.com/reactjs/react-rails/tree/master/lib/assets/javascripts

maybe we could steal it to provide the same experience for turbolinks?

[2017-02-24 20:15] renchap commented on #13
This is definitely something we need to support. Do you think We should support Turbolinks < 5 ?

[2017-02-26 14:06] renchap opened #16 "Simplify build / test workflows"
The goal is to create rake tasks to :
- Install/update JS dev dependancies
- Run linters (rubocop and eslint)
- Build the JS code
- Link the NPM package to register it for local use
- Run webpack for the test application
- Run tests

The README will need to be updated as well.

I will probably move `javascript/webpacker_react-npm-module/` to the root directory, as it makes more sense for it to be

[2017-02-26 15:19] #13 closed

[2017-02-26 15:35] renchap opened #17 "Idea: ERB helper to easy enabling HMR"
I have been thinking on how to improve our HMR support and have a way to toggle it globally while reducing the boilerplate.

The best idea I have is to provide a Ruby helper and have people use `packs/application.js.erb`.

The interface would look like:

[code]

Which will generate the following JS code:

[code]

We can then have a Rails config flag to enable / disable HMR, as well as a `register_

[2017-02-26 15:54] sevos commented on #16
moving would allow referencing the github url of the package in packages.json!

[2017-02-26 15:56] sevos commented on #17
Again, why this javascript can't be part of the JS library?

[2017-02-26 15:58] sevos commented on #3
I'd try to challenge the whole server-side rendering idea later :)

[2017-02-26 18:50] sevos commented on #17
Is this to solve the following warning?

![](https://uploads.sevos.io/Screen-Shot-2017-02-26-19-49-25/Screen-Shot-2017-02-26-19-49-25.png)

[2017-02-26 19:24] renchap commented on #17
Yes, you can find more context here: https://github.com/renchap/webpacker-react-example/pull/2#issuecomment-278063213

We havent been able to find documentation on the internals for HMR in Webpack 2. I would have preferred a 100% JS solution where you only have to register your component, but it does not seem possible due to the way HMR works.

[2017-02-26 20:29] mfazekas commented on #17
@renchap i like the idea, alternative would be a babel plugin, but the .erb solution is just much simpler.

👍

[2017-02-28 03:10] swrobel opened #19 "Release new version to npm"
The currently-released version, `0.1.0` contains a bug that causes `configureHotModuleReplacement()` to break. It has since been fixed in a [commit](https://github.com/renchap/webpacker-react/commit/9e8e632489a757794ba813f91f0d19753346dd3a#diff-2b0da08e38daf70aa89f0c2153adf93cL4) after that package was released. A new release should be in order. Here is the error that the current module produces:

[2017-02-28 09:31] renchap commented on #19
I am using the released 0.1.0 version and not seeing any issue. The commit you pointed is only syntax changes.

[2017-02-28 10:01] #19 closed

[2017-02-28 10:01] renchap commented on #19
This commit should fix it. Webpacker changed the default Webpack config, I updated our docs.

[2017-02-28 10:02] renchap commented on #11
Still need to update example & test apps.

[2017-03-03 22:24] tirdadc opened #20 "Uncaught TypeError: _webpackerReact2.default.initialize is not a function"
Thank you for putting together this gem, it made moving from `react-rails` to using `webpacker` a lot less painful.

At this point everything seems to be working but I do notice this error being thrown in the console by the `initialize` call:

[code]

Here's my pack file:

[code]

I'm using the latest version of Webpacker (revision `a85a3ab0eac6626af9da0efbda9320404114d675`). Any idea what may be

[2017-03-03 22:31] renchap commented on #20
You are using the unreleased master but with the latest released NPM module.

You either need to use the 0.1.0 released version for both the gem and the NPM module, or switch both to git.

If you want to use the latest JS code, you need to clone the repo locally, compile the NPM package, and tell Yarn to use it for your project. Please see here for how to do so : https://github.com/renchap/webpack

[2017-03-03 22:31] #20 closed

[2017-03-03 22:53] tirdadc commented on #20
I switched the line in my Gemfile to:

[code]

and re-ran `bundle install`

I also made sure that I have `"webpacker-react": "0.1.0"` in my package.json and ran `./bin/yarn install --force`, but I still get the same issue. Shouldn't that insure that I'm on 0.1.0 across the board? I do see this too in my `yarn.lock`:

[code]

[2017-03-03 22:55] renchap commented on #20
You dont need the initialize call for 0.1.0: https://github.com/renchap/webpacker-react/tree/v0.1.0#usage

I will update the readme to point to the latest released documentation 🙂

[2017-03-03 23:01] renchap opened #21 "Point to latest Release documentation"
The project GH page displays documentation from the master branch, which may be wrong for the latest release code (see #20). It should contain a warning and point to the release tag's readme.

[2017-03-03 23:02] tirdadc commented on #20
Perfect, that solves it! :-)

I'll put together a blog post on this process since I don't think I'll be alone in moving to `webpacker` once 5.1 ships!

[2017-03-05 10:06] renchap commented on #17
@sevos do you think we can have a simpler pure-JS solution? I tried again to look at how to make this work with Webpack & hot-reloading, without any results.

I will work on implementing the ERB otherwise.

[2017-03-05 17:46] cinqi opened #22 "Possibility to use jbuilder json in react_component?"
react_component seems to convert passed data to json, so if I try to input props as jbuilder json

`<%= react_component('Products', data: render(template: 'api/v1/products/index.json.jbuilder') ) %>`

In this case react_component converts json to json thus making it unreadable for React.

`data: "{\"products\":[{\"id\":5,\"name\":\"Product 1\",....`

Would it be possible to use jbuilder to input p

[2017-03-05 19:02] cinqi commented on #22
A bit further study revelead that I could use options to achieve this:

`<%= react_component('Products', options=render(template: 'api/v1/products/index.json.jbuilder') ) %>`

The json has products and product_type objects and with this I get this.props.products and this.props.product_types.

[2017-03-05 20:52] sevos commented on #17
First, what do you think if we define the requirements explicitly? Like a real ticket at a software product dev. What info needs to be passed from-to, etc.

[2017-03-06 20:46] renchap commented on #22
I am not sure to understand the syntax you used here. Is this working?
[code]

[2017-03-06 20:50] renchap commented on #17
Sure. I have several goals:
- avoid the need for boilerplate to be added for HMR (in the common cases at least)
- be able to easily enable / disable HMR depending on a Rails config option. Ideally I would like for new users to try it out just by flipping this option and running `./bin/webpack-dev-server --hot` in place of `webpack-watcher`
- completely disable all HMR-related code in production (s

[2017-03-07 07:52] cinqi commented on #22
That does not work.

The idea would be to use jbuilder generater json as an input for React component. I looked at the react_component code and it does conversion .to_json. That is ok when you use class instance variable from controller. However, the options parameter in react_component are not converted to json, so when I pass json via options to React component, those are set as props correctly.

[2017-03-10 16:13] tirdadc opened #23 "webpacker-react: cant render a component that has not been registered: Test"
After getting everything running on development, I finally tried rolling out my new Webpacker based setup to production, and I'm getting this error.

Test is registered normally in my pack and this works on development just fine:

[code]

Is there any additional step needed for the `react_component` helper to work in production?

[2017-03-10 16:30] renchap commented on #23
This is a known issue with 0.1.0, this will be fixed in the next version.
In the meantime, you can change `config/webpack/production.js` to not mangle the name of your root components:

[code]

[2017-03-10 16:51] tirdadc commented on #23
That worked, I'll add it to my [write-up](https://tirdadc.github.io/blog/2017/03/07/migrating_from_react_rails_to_webpacker/). Thanks!

[2017-03-10 16:51] #23 closed

[2017-03-12 00:14] sealocal commented on #22
The view helper expects options to be a `Hash`, not JSON.  You could parse your JSON into a hash before passing to the view helper.

[code]

Then you should able to access props:
[code]

[2017-03-16 15:41] jonworek opened #24 "Can't render a component in production"
Hi.  This is a great project.  Thanks for taking the initiative to work on this.

I'm running into some trouble with an app I have deployed to production (all works well in development).  I'm registering a component then attempting to render it from my view.  But I'm getting the error in the Chrome dev console:

`webpacker-react: cant render a component that has not been registered: Hello`

Steppi

[2017-03-16 15:51] renchap commented on #24
Please see #23 for a workaround. I will release 0.2.0 as soon as I get some time for a proper fix.

[2017-03-16 15:51] #24 closed

[2017-03-20 20:28] #21 closed

[2017-03-20 20:32] renchap opened #25 "Allow usage of the git repos in NPM dependancies"
It should be possible to specify this repository as a dependancy in `package.json`: https://docs.npmjs.com/files/package.json#github-urls

[2017-03-20 21:22] renchap commented on #24
The new version is now released and fixes this issue!
Please look at the CHANGELOG, the API changed (`setup` replaced `register`).

[2017-03-20 21:22] renchap commented on #23
The new version is now released and fixes this issue!
Please look at the CHANGELOG, the API changed (`setup` replaced `register`).

[2017-03-21 20:58] jonworek commented on #24
It works!!  Thank you!!!

[2017-03-22 08:33] cinqi opened #26 "Invariant Violation: addComponentAsRefTo(...)"
This might due to my React components but this did appear after upgrading to 0.2.0. Most of the main components have componentDidMount that actually makes an ajax call to get initial data, which is something that I'm probably moving away from, mentioning this as the error is logged from this part of the code.

So, after upgrading to 0.2.0 I'm getting this error:

`Invariant Violation: addComponent

[2017-03-22 08:34] cinqi commented on #22
Will test this at some point, closing this issue.

[2017-03-22 08:34] #22 closed

[2017-03-22 08:56] renchap commented on #26
This is probably the issue.

When you have multiple packs, Webpack considers each of them independently. This means that all your dependencies are bundled into each pack, and thus you have the React code loaded multiple times.

If you go with multiple pack files for different parts of your app, you need to tell Webpack to create a special bundle with all your common code (shared between multiple W

[2017-03-22 09:28] cinqi commented on #26
Ok, I'll explore this, in the meantime I'll probably go with one huge file. As this is not related to webpacker-react itself, I'll close this issue.

[2017-03-22 09:28] #26 closed

[2017-03-29 22:45] phil-monroe opened #27 "Components don't re-mount after Turbolinks navigation"
According to [this line](https://github.com/renchap/webpacker-react/blame/master/javascript/webpacker_react-npm-module/src/index.js#L72) a react component will only mount if the `innerHTML` is empty.

[code]

This works well for initial page loads that are not rendered via the Turbolinks cache, but components will not re-mount after navigating around an app that utilize Turbolinks caching. This ca

[2017-03-30 07:05] renchap commented on #27
Thanks for the report @phil-monroe!

@sevos do you remember why this check was necessary?

[2017-04-09 20:10] risinglf commented on #3
Hi guys, any news about server side rendering?

[2017-04-09 20:51] sevos commented on #3
I ~~hate~~ have mixed feelings with server side rendering:

1. it kills the purpose of SPAs - didn't we want to have single page apps because we wanted to take the load off the server and move to the client/browser to allow scalability<sup>TM</sup>? And now what? Again moving back rendering to It seems like a roundtrip for me. Let's just use Turbolinks and call the SPA experiment a failure ;)

2.

[2017-04-10 07:26] igikorn commented on #27
Hi, I'm new to React and I'm trying to render a component in my layout file. I'm not sure if this issue is related to what I'm facing. The components do render when I visit different links but I'm getting everytime I load another path

`unmountComponentAtNode(): The node you're attempting to unmount was rendered by another copy of React.`

In my layout file, I am rendering a simple component: `= r

[2017-04-10 07:37] sevos commented on #27
What versions of the gem and npm package are you using? @igikorn

[2017-04-10 07:38] sevos commented on #27
@renchap I have no idea why we have this line there. Imho it shouldn't be there, but I may be wrong.

[2017-04-10 07:40] igikorn commented on #27
@sevos Thanks for the reply!

#### Yarn
"webpack": "^2.3.3",
"webpack-dev-server": "^2.4.2",
"webpack-manifest-plugin": "^1.1.0",
"webpack-merge": "^4.1.0",
"webpacker-react": "^0.2.1"

#### Gemfile
webpacker (1.1)
webpacker-react (0.2.0)

[2017-04-10 07:46] sevos commented on #27
Could you please provide a minimum repository reproducing the problem? I will take a second look in the evening

[2017-04-10 08:46] igikorn commented on #27
Hi @sevos, I've reproduced the issue in a minimum repository:

https://github.com/igikorn/webpacker-react-turbolinks

Thank you very much!

[2017-04-22 03:04] igikorn commented on #27
Hi @sevos any luck with this? Appreciate the help!

[2017-04-22 08:30] justin808 commented on #27
@igikorn can you tell me if https://github.com/shakacode/react_on_rails has the same Turbolinks issue?

[2017-04-25 13:12] risinglf commented on #3
@sevos for our company server side rendering is not a choice: it's mandatory. We don't have a full SPA but many simple widgets that for SEO and UX reasons need to be already present when the browser/bot loads the page.

It can of course add some edge cases due to many different libraries available, but IMHO is up you to choose one that does not need the browser env or to implement a different appr

[2017-04-25 21:46] justin808 commented on #3
@risinglf @sevos @daninfpj  Why would prefer to put server rendering in this library compared to using [React on Rails](https://github.com/shakacode/react_on_rails)?

[2017-04-26 15:58] daninfpj commented on #3
@justin808: The whole point of this library (not just server rendering) is to take advantage of Rails 5.1 (currently on rc2) first-class support for Webpack and React. This allows for a cleaner and simpler integration in my opinion.

[2017-04-26 22:39] justin808 commented on #3
@daninfpj wrote:

We're almost done with that.

See https://github.com/shakacode/react_on_rails/pull/822 and https://github.com/shakacode/react_on_rails/pull/811.

and see:

https://github.com/shakacode/webpacker_lite

[2017-04-26 22:39] justin808 commented on #3
@daninfpj wrote:

library (not just server rendering) is to take advantage of Rails 5.1
(currently on rc2) first-class support for Webpack and React. This allows
for a cleaner and simpler integration in my opinion.

We're almost done with that.

See https://github.com/shakacode/react_on_rails/pull/822 and
https://github.com/shakacode/react_on_rails/pull/811.

and see:

https://github.com/shakacode

[2017-05-04 17:35] RobinClowers opened #29 "HMR not working"
I followed the steps in the [readme](https://github.com/renchap/webpacker-react#hot-module-replacement), and I see the correct console output in my app, but my components don't actually re-render. Here is the output I see in the console:

[code]

When I watch the dom inspector, I see the new script tag added to the `head` element, but nothing else in the dom changes. Any suggestions on how to debu

[2017-05-10 14:13] tirdadc opened #30 "render in a different tag than div?"
Right now the default tag the React component is rendered in is a `div`, is it possible to render in something else with a param? I tried `span: 'div'` without any luck.

[2017-05-11 18:28] RobinClowers commented on #29
I updated webpacker and tried this again, and now I have a different problem. My app requests `http://localhost:8080/ba9cba921e647214acee.hot-update.json`, but the dev server generated `0.ba9cba921e647214acee.hot-update.js`. Any idea how to fix that?

[2017-05-11 18:48] RobinClowers commented on #29
Ok, so I updated my `publicPath` to `http://localhost:8080/packs/`, and now I see this when I change a component:

[code]

But it the change doesn't actually show up.

[2017-05-15 20:00] daninfpj commented on #30
This is not supported right now, but it‘s pretty easy to implement. You can add an option sent to the `render` function and then have `content_tag` use that if present, defaulting to `div`.

[Take a look at the relevant line](https://github.com/renchap/webpacker-react/blob/master/lib/webpacker/react/component.rb#L15).

[2017-05-22 21:03] renchap commented on #29
I dont see anything wrong here. Can you show the content of your pack file? Are you correctly calling `module.hot.accept` with the correct path, callback and module?

[2017-05-22 21:26] RobinClowers commented on #29
Here is my pack file:

[code]

[2017-05-22 21:54] renchap commented on #29
Which Webpacker version are you using? Webpacker's configuration changed quite a lot recently and I suspect the issue can come from here.
Can you change your Webpack config to output the configuration and show it here?

In `config/webpack/development.server.js` (or the config file used by `webpack-dev-server` in your setup), do something like:

[code]

[2017-05-22 22:35] RobinClowers commented on #29
I'm on webpacker 1.2, this is what my config looks like:

[code]

[2017-05-23 09:36] renchap commented on #29
One difference I see it with my current setup is in `entry.components`: for you the full path is used, but in my config only the relative path (`components.js.erb`) is used. As `/<project-path>/app/javascript` is in `resolve.modules` it is not needed to have the full path in `entry`, and I think it can cause an issue with hot reloading as it may not match the component path you use in `module.hot.

[2017-05-23 16:15] RobinClowers commented on #29
@renchap thanks for the suggestions. I dropped the `erb` extension to make sure that wasn't the issue, and I tried the static `entry`, which doesn't seem to change the situation.

You mentioned the entry path has to match the path in `hot.accept`, which it doesn't. From my console output: `components.js:56834 [HMR]  - ./app/javascript/components/SearchBar.js`, but the entry path is `packs/componen

[2017-05-25 18:13] Mavvie commented on #29
I've run into exactly the same issue.

From my `entry`:

[code]

From console log:
[code]

I'm `accept`ing `orders/order_form` which (indirectly) imports the summary file.

However, the changes don't appear on the page when hot reloading occurs.

[2017-05-27 10:40] renchap commented on #29
This looks like to be related with recent changes to Webpacker.
I updated my main application to Webpacker 2.0 and I am seeing the `publicPath` issue you mentioned in the first post.

I am looking at this and will try to reproduce and fix.

[2017-05-27 12:27] renchap commented on #29
I got HMR working with the latest Webpacker (from Git `master`).
Your fix for the `publicPath` issue is not correct. The problem comes from the way `webpacker` configures it. It is used at 2 places: in the manifest plugin configuration, and in the dev server config.
Webpacker uses `manifest.json` to know what is the URL for each pack file.

The real fix is to fix the URL in both places (`manifest.

[2017-05-27 13:56] renchap commented on #29
After trying to understand the real issue, the fix above only masked the problem.
The issue lies here: https://github.com/renchap/webpacker-react/blob/master/javascript/webpacker_react-npm-module/src/configure-hot-module-replacement.js#L11

`webpacker` now correctly sets `output.publicPath`, so it is no longer needed to override it. And the override was incorrect, it missed the `/packs/` directory

[2017-05-27 18:44] #30 closed

[2017-05-27 19:54] renchap commented on #30
I just released version 0.3.0 with this feature!

[2017-05-27 19:54] renchap commented on #29
I just release version 0.3.0 with the bugfix (and some other changes).
Can you please test it and tell me if all works fine for you now?

[2017-05-28 22:03] Mavvie commented on #29
I'm still having the second issue that came up (ie. the URL isn't the problem, but)

The output looks correct but the components aren't actually updated.

[2017-05-30 09:31] justin808 commented on #3
[React on Rails 8.0.0](https://github.com/shakacode/react_on_rails) shipped with support for [webpacker_lite](https://github.com/shakacode/webpacker_lite). I think this has the server rendering support you desire.

[2017-05-30 12:26] mroach opened #33 ""Don't know how to build task 'test'""
https://github.com/renchap/webpacker-react/blob/master/lib/tasks/example_app.rake#L15

This line requires that there be a rake task called `test` defined. If none is defined in your app, the entire rake system is broken. Can't run `rake -T` or any tasks.

Was this meant to be done in the *example_app* namespace?

My `Rakefile`

[code]

Using Ruby 2.4.1, Rails 5.1, webpacker 2.0, webpacker-react 0.

[2017-05-30 14:06] renchap commented on #33
Yes, I added this to ensure that `example_app:webpack` was launched before running this gem tests.

From what I understand, in your case this task is also launched when you run `rails test` in your Rails project? It is not the case for my project using Rails 5.1 (but I have the standard `test` rake task created by Rails).

Do you have any idea why a task defined in the `webpacker-react ` gem is lo

[2017-05-30 15:51] mroach commented on #33
In my project I'm not using MiniTest so there's no `test` task, only `spec` for RSpec. I'm guessing that `Rails.application.load_tasks` eagerly loads all tasks from all gems, right?

[2017-05-30 18:25] #33 closed

[2017-05-30 18:26] renchap commented on #33
This is fixed in 0.3.1, thanks for the report!
It looks like Rails indeed loads this path for all gems, I did not knew this.

[2017-05-30 18:34] renchap commented on #29
Are you using Webpacker-React 0.3.0, both for the Gem and the NPM module?
Which version of Webpacker are you using?

Is it a change you could reproduce this behaviour with a simple Rails app and put it on GitHub so I can investigate?

[2017-05-30 20:09] Mavvie commented on #29
Using webpacker-react@0.3.0 for NPM, 0.3.1 for the Gem.

Webpacker 2.0, pretty sure `modules` is set to false. Output didn't change when I upgraded webpacker-react versions.

Will try to reproduce.

[2017-05-30 20:32] Mavvie commented on #29
I was unable to reproduce in a new Rails app. Probably some odd, specific bug in my config.

You can consider this closed IMO 👍

[2017-05-30 20:54] renchap commented on #29
I am interested to know which part of your configuration causes this, if you find out please comment here, it will surely help others and I will add it to the README.

[2017-05-30 20:54] #29 closed

[2017-05-30 21:12] Mavvie commented on #29
I went through every webpack-related file and changed my app to the `rails new` app that had HMR working until I fixed my app.

I think I isolated the issue down to:

- Removing `"transform-es2015-modules-commonjs"` from my `.babelrc` plugins.

Definitely my fault, hopefully posting this will help someone else in the future with the same problem.

[2017-05-30 21:38] renchap commented on #29
Ok, as I thought it is linked to how modules are handled. This Babel plugin, like the preset I wrote before, transforms `import` statements and this breaks Webpack's handling of modules. As HMR is dependent on modules, it broke. This is why you only saw one module updated in your console, and not the whole chain of modules (from the root component to the updated component).

[2017-06-02 11:40] artempartos opened #34 "Support Webpacker 2.0"
Subj

[2017-06-02 11:44] renchap commented on #34
Can you explain what is not working for you with Webpacker 2.0?
Current version (0.3.1) should work fine.

[2017-06-04 09:43] artempartos commented on #34
Sorry, it's my fault, all is ok

[2017-06-04 09:43] #34 closed

[2017-06-17 14:22] tchret opened #35 "react_component + jbuilder"
I generate my props with jbuilder :

[code]

And I have this *weird* render 🤔

![image](https://user-images.githubusercontent.com/4539476/27253637-ac372254-5378-11e7-8a82-0acaca8d778f.png)

[2017-06-17 14:24] tchret commented on #35
aaaand #22 solved my problem :)

[2017-06-17 14:24] #35 closed

[2017-06-17 14:24] tchret commented on #22
thanks @sealocal 👍

[2017-07-01 23:36] aurimus opened #36 "Compatability with webpacker asset pipeline"
I am getting `Can't resolve 'webpacker-react'` when I try to include it with `import` (obviously because yarn doesn't know about it). What's the compatability with webpacker gem here?

[2017-07-01 23:42] aurimus commented on #36
My bad, didn't see you need to include it in both pipelines..

[2017-07-01 23:42] #36 closed

[2017-07-05 22:12] sealocal opened #37 "Mount an Individual View Component"
Is it possible to mount an individual component?  If not, would it be a reasonable feature request?

My current approach is to unmount all components on the page and then mount them again - but, this resets the state of *all* components on the page - and I even get inconsistent results when I expect all components to reset.

Consider adding an instance of an `Item` component to a page through an a

[2017-07-31 04:56] odk211 opened #38 "Getting undefined method `react_component' for..."
# How to reproduce

Install webpacker and webpacker-react.
https://github.com/rails/webpacker#installation
https://github.com/renchap/webpacker-react#installation

Gemfile
[code]
Install Commands
[code]
Write some install stuff.
And when open page with `<%= react_component 'SomeComponent' %>`
I got this error.
[code]

# Other info
Add Helper manually in ApplicationController and everything is fine

[2017-07-31 07:57] renchap commented on #38
Are you using Active Admin too?

[2017-07-31 09:51] justin808 opened #39 "Differences between webpacker-react and react_on_rails"
Are there any compelling features offered by webpacker-react with react_on_rails now going directly off webpacker? Do you guys need any help from me? Want to help me with React on Rails?

Here are the PRs that put React on Rails on top of Webpacker:

* https://github.com/rails/webpacker/pull/601
* https://github.com/shakacode/react_on_rails/pull/908

Other links:

* [9.0.0.beta.1 Gem](https://ruby

[2017-08-01 08:23] odk211 commented on #38
No, I do not use. But I use another rails engine [blazer](https://github.com/ankane/blazer) and [health_check](https://github.com/ianheggie/health_check).

It seems health_check gem use `ActionController::Base`
https://github.com/ianheggie/health_check/blob/master/lib/health_check/health_check_controller.rb#L5
blazer use `ApplicationController`
https://github.com/ankane/blazer/blob/master/app/cont

[2017-08-13 15:01] eadz commented on #39
Hi!

I had a look at both projects, and I think there are some differences in approach.

Webpacker-react simply provides a way to render react components in the frontend of your app. The instructions all fit on the readme, and it seems to work well in my experience out of the box with rails 5.1 and turbolinks.

React on rails is an opinionated framework, much more than a library.

While React on R

[2017-09-04 21:34] brentdodell opened #40 "How do you nest components?"
Hello. I was wondering if there was a way to nest components with `react_component`? It seems like it would be handy for that method to accept a block, to enable nesting.

I.E.
[code]

[2017-09-06 00:58] philayres commented on #38
@odk211 is `gem webpacker` in your Gemfile in the production section, or just in a development and test block? I just struggled with this for hours, before realising that my issues were related to the gem not being available when I moved to production.

[2017-09-06 01:31] odk211 commented on #38
@philayres When I use this gem, I use `webpacker-react` , `webpacker` in all environment.

[2017-09-07 20:51] mrjonesbot opened #41 ""Render From View" Documentation Typo"
![screen shot 2017-09-07 at 3 49 23 pm](https://user-images.githubusercontent.com/968057/30184593-360eab68-93e4-11e7-86f5-cf5d69c1e7c2.png)

"You can pass a tag argument to render the React component in another tag than the default div. All other arguments will be passed to content_tag:"

The example shown closes a `span` tag with a closing `div` tag.

[2017-09-08 02:02] ychaker opened #42 "react_component in a response from a remote request"
First of all, great job making a simple gem that is easy to use and integrate. Much appreciated.

I am trying to use a component that is rendered in a partial that is rendered in a remote response from the server.

There's nothing special about the component:

[code]

The response renders the following:

[code]

it all looks right from this perspective, but the component is not actually displaying

[2017-09-11 14:07] ychaker commented on #42
@renchap any pointers or help on this would be much appreciated, even if just a link to an example or something that could lead me in the right direction.

Thanks :)

[2017-09-11 14:37] renchap commented on #42
This is currently not doable using `webpacker-react`. The proper solution would be to export the `mountComponents` function (https://github.com/renchap/webpacker-react/blob/master/javascript/webpacker_react-npm-module/src/index.js#L62) and accept a DOM element as root to call `querySelectorAll` on.

Until this is added to `webpacker-react`, you can implement your own `mountComponents` function and

[2017-09-11 14:40] renchap commented on #40
Hi Brent. This is not the way React works. You need to have your nested components called in your `Container`'s `render` method: https://facebook.github.io/react/docs/components-and-props.html#composing-components

[2017-09-11 14:40] #40 closed

[2017-09-11 14:42] renchap commented on #39
As @eadz said, `webpacker-react` is indented to be as simple and minimalist as possible to work with a standard Rails environment.

I saw that `react_on_rails` is now using Webpacker 3, but I feel it brings a lot more than just React. It provides a nice integrated solution, but it does a lot more than this project and adds some complexity.

[2017-09-11 14:42] #39 closed

[2017-09-11 14:43] ychaker commented on #42
hmmm... okay, I'll see what I come up with and share it here once I've got something going.
Thank you for the help.

[2017-09-11 14:45] renchap commented on #42
I am closing this issue as it is a duplicate of #37. I will try to implement this as soon as I get some time.

[2017-09-11 14:45] #42 closed

[2017-09-11 14:46] renchap commented on #37
This should definitely be doable. I will work on implementing this.

[2017-09-11 14:47] ychaker commented on #42
gracias

[2017-09-11 14:49] brentdodell commented on #40
Thank you. I'm really fresh to React, and I think I realized that a couple days after asking this.

[2017-09-12 23:04] #38 closed

[2017-09-12 23:04] #41 closed

[2017-09-12 23:19] renchap commented on #41
Fixed, thanks!

[2017-09-12 23:19] renchap commented on #38
This should be fixed in the latest (0.3.2) release.

[2017-09-14 14:28] aaronsama opened #43 "cant render a component that has not been registered with multiple calls to WepbackerReact.setup"
I have an application with several components, some of which are needed only in certain views, so I split them in multiple packs and I load them using the `content_for` helper. For example, I have two packs:

[code]

Everything seems to work fine but I noticed that when I switch from one view to the other the console prints an error: `webpacker-react: cant render a component that has not been regi

[2017-09-15 15:26] wingrunr21 commented on #43
I recently hit this issue. The problem is that `setup` will [subsequently call `mountComponents`](https://github.com/renchap/webpacker-react/blob/master/javascript/webpacker_react-npm-module/src/index.js#L89) which scans the DOM and tries to mount everything. I solved it by creating an `application.js` pack that looks like this:

[code]

and then in various pack files, call `registerComponents` in

[2017-09-18 10:17] aaronsama commented on #43
This works but it still requires me to include all the packs in all my pages. What I am trying to do is to load the script that registers the new components on demand only when the user opens a certain page.

I found [this issue](https://github.com/turbolinks/turbolinks/issues/107#issuecomment-236436760) in the turbolinks repository that says that what I am trying to do is not possible because scr

[2017-09-18 13:46] #43 closed

[2017-09-22 10:30] jbbarth opened #44 "Helper to automatically load all components in a given folder"
Thanks for a great gem! :)

While porting my code to webpacker-react I found it a bit tedious to "setup" every view component I have individually. I have many of them (which might not be the general case? dunno) used from different rails controllers. So I wanted to have components I use in the rails app automatically registered at pack level.

I think it's fairly common to have your react componen

[2017-09-25 10:11] risinglf commented on #3
Hi guys, how is this feature progress?

[2017-09-25 18:44] caselas commented on #3
Is there anything we can do to help?

[2017-09-26 14:03] renchap commented on #3
I have not got time to really work on server-rendering. If you would like to have a stab at it, feel free! I outlined my ideas in this issue and I am available to discuss it further.
React 16 changes server-side rendering and hydrating, and I think it would be great to support it.

I am not opposed to a minimal and non-modular approach at first, supporting only `mini_racer` (via `ExecJS`?) to keep

[2017-09-26 14:10] renchap commented on #44
This is a very valid use-case for non-SPA applications.
Feel free to submit a PR to implement this. One point to be careful about is how it interacts with hot-reloading.

[2017-09-27 22:29] wingrunr21 commented on #3
I've got a minimal approach working already if that is of interest. I'm using `webpacker-react` for the client side stuff but the server side is independent. It's pretty heavily influenced by `react-rails` as I thought their implementation was pretty clean.

I took the single point of entry approach with one "server" pack that imports all the various components. Right now the issue I'm working thr

[2017-09-27 23:02] renchap commented on #3
Nice! This seems like a good start.
There is a related issue in the Webpacker repo: https://github.com/rails/webpacker/issues/842

What is the issue with `style-loader` and server-rendering?

[2017-09-27 23:18] wingrunr21 commented on #3
Ya, I've read through that issue. I actually don't need to turn off inline mode like is specified there. `react-rails` [removes the client require](https://github.com/reactjs/react-rails/blob/f15b255c11cf387ebd3eb583f36ba02df6645b7b/lib/react/server_rendering/webpacker_manifest_container.rb#L19) that inline mode inserts. Simply adding a `var self = self || this` fixes the other error.

I'm messing

[2017-09-27 23:57] renchap commented on #3
Well, server rendering should not worry about styles at all and not output anything related (except for css modules).
Hydrating a server-rendered component is a mandatory feature, I dont see a usecase for server-side only React (just use Ruby!).

React 16 changed quite a lot of things related to SsR’ I foudn this article useful: https://medium.com/@aickin/whats-new-with-server-side-rendering-in-re

[2017-09-28 00:25] wingrunr21 commented on #3
Agree to disagree on that one. We use `styled-components` pretty extensively. As they ship all styles via JS and subsequently write a style tag to the DOM on component tree render, you have to have a way of pulling the styles out of the render tree on the server. Luckily, they added [first party support](https://www.styled-components.com/docs/advanced#server-side-rendering) for server side renderi

[2017-09-28 11:10] renchap commented on #3
Ok I see how it works. Let me correct what I said by "server-rendering should ignore `style-loader` and other CSS-related webpack loaders :) For production your stylesheets will be compiled in CSS files by `extract-text-plugin`, and in dev your styles are inserted into a `<style>` tag by `style-loader`.

I guess we will need hooks to allow `styled-components` (and other similar projects) to work w

[2017-10-02 19:46] wingrunr21 commented on #3
Here's a gist of what we are using right now. Like I said, this is a pretty simple implementation. I'm still wondering if a server-only webpack config is a better approach. It would make messing around with `CommonsChunk` and such easier and would enable hmr to work alongside.

https://gist.github.com/wingrunr21/b2e2a1aca3083eb877a6deae9dedbd89

[2017-10-13 21:34] Petercopter opened #45 "Register Multiple Components"
Kind of a noob here, so be gentle. I'm moving from webpack-rails with a custom setup to do basically the same thing as webpacker-react.

I'm trying to register multiple individual components for rendering on the page. I'm not seeing any documentation about this, which makes me think I'm barking up the wrong tree, but here goes.

I've tried
[code]
and
[code]
Both result in
[code]
It always register

[2017-10-13 21:51] renchap commented on #45
In Webpacker, a pack is a webpack entry point. In `app/javascript/packs` you need to only have your pack files. Most of the time, you will go with only one pack.

You then need to include the `<script>` tag for this pack in your layout using `javascript_pack_tag`.

Once this general setup is done, in your pack you can register 1 or many React components, and then mount them to your page using the

[2017-10-13 22:21] Petercopter commented on #45
@renchap Thanks for the quick response! I'm going to digest this, and learn more about what's going on. 🍺  cheers!

[2017-10-25 02:54] navjeetc opened #46 "Compatibility with Rails 5.1.4"
Is this compatible with Rails 5.1.4? I keep getting the  error:

`webpacker-react: cannot render a component that has not been registered: Hello`

I started with Ruby 2.3.3 and Rails 5.1.4 using the command
`rails new myapp --webpack=react`
and copied the files hello_react.js and hello.jsx from webpack-react-example into app/javascript/packs and app/javascript/components folders and added
`<%= jav

[2017-10-25 09:50] tomasc commented on #3
@renchap @wingrunr21 I am about to tackle this in my app. Is there any progress on this or should I pickup from the gist @wingrunr21 posted?

[2017-10-25 11:56] renchap commented on #46
The syntax changed to register the components changed: https://github.com/renchap/webpacker-react/blob/master/CHANGELOG.md#020---2017-03-20

The example is not up-to-date.

[2017-10-25 14:52] wingrunr21 commented on #3
@tomasc I won't be submitting a PR to this repo for server side render support. As we continued to iterate on our solution, it became obvious that a more standalone solution was the best fit. We are prepping to open source a generic SSR solution for webpacker (which will still have full support for `webpacker-react`).

[2017-10-25 14:54] tomasc commented on #3
@wingrunr21 that sounds good. If interested, I can help test your project as I am about to start dealing with SSR and solution with bare-bones `webpacker` would work best in my case.

[2017-10-25 18:22] renchap commented on #45
Closing this issue as it seems to be solved, feel free to reopen!

[2017-10-25 18:22] #45 closed

[2017-10-25 18:24] renchap commented on #3
@tomasc I havent got time to work on this yet. Feel free to tackle it if you want!
The preferred way is to open a PR as soon as you have a WIP, so we can discuss about it while it progresses.

@wingrunr21 I am curious about how you want to tackle it at the Webpacker level. Can you outline how it would work?

[2017-10-25 18:31] BookOfGreg commented on #3
@wingrunr21 Yep that sounds interesting. Just commenting so I watch this thread (spying from react-rails 😉 )

[2017-10-25 18:49] tomasc commented on #3
aka @wingrunr21 give it to us! :-)

[2017-10-25 19:46] wingrunr21 commented on #3
@BookOfGreg honestly, your SSR support formed a really solid basis for the work. It definitely gave us a good starting point on a solution that was known to work. Your project is also a reason we wanted to target a more generic webpacker solution. It's fairly difficult to parse out how to implement SSR in an express application without using something like `create-react-app` or `next.js`. We didn'

[2017-10-26 04:09] navjeetc commented on #46
That was it. I changed the code from
`WebpackerReact.setup(Hello);`
to
`WebpackerReact.setup({Hello});`
and it worked fine.

[2017-10-26 04:09] #46 closed

[2017-11-02 19:36] tomasc commented on #3
@wingrunr21 is there any updated on this please? I am eager to test or help out.

[2017-11-13 10:44] eadz opened #47 "HMR and Rails 5.1.4"
I followed the HMR instructions on a new rails app, and it doesn't seem to work.

The Instructions don't match the code in the latest rails/webpacker setup.

I have this in my config/webpack/development.js

[code]
and in `packs/application.js` changed the following
`
-import WebpackerReact from 'webpacker-react';
+import WebpackerReact from 'webpacker-react/hmr';
`

Finally, added this
[code]

The

[2017-11-19 15:17] renchap commented on #47
Can you please show the whole `application.js` file (or at least the `WebpackerReact.setup` call and any Webpacker -related lines)?
Also, what is displayed in your console when you load the page, and then when you edit a file?

[2017-12-01 21:31] biw opened #48 "mountComponents gets called before registerComponents"
Hi! I am currently trying to set up `webpacker-react` in a codebase and am having a little trouble. I have an `application.js` pack that has dynamically loaded imports. Inside the modules I load, I call `WebpackerReact.setup({ reactElm })`. I get the following function call sequence:

1. `setup()`
2. `mountComponents`
3. `registerComponents`
4. `mountComponents`

Which throws Error: `webpacker-rea

[2017-12-01 22:45] renchap commented on #48
Can you show me what your `application.js` looks like (the Webpacker calls as well as the imports and the general structure)?

[2017-12-01 23:35] 719Ben commented on #48
[code]

and `show` looks like:

[code]

[2017-12-14 22:38] renchap opened #49 "Config patch for HMR breaks with Webpacker 3.1"
Webpacker 3.1 introduces a new API to setup Webpacker, and this breaks our use of `webpack-merge`. This will be fixed in Webpacker 3.1.2, but we should switch to the Webpacker API to properly handle this.

See https://github.com/rails/webpacker/issues/1097

[2018-01-13 14:05] wingrunr21 commented on #3
@tomasc sorry, our November/December ended up being crazy with other work. I'm working on it this weekend and hope to have some good stuff come next week.

[2018-01-15 08:12] tomasc commented on #3
@wingrunr21 thanks, that would be fantastic – and right on time ;-)

[2018-01-26 13:00] kiwanska commented on #3
@wingrunr21 🤞 that you still working on this, do you have ETA in mind?

[2018-01-26 13:52] wingrunr21 commented on #3
Code is up: https://github.com/GuildEducationInc/webpacker_ssr, https://github.com/GuildEducationInc/webpacker_ssr-execjs, https://github.com/GuildEducationInc/webpacker_ssr-react

Need to write docs still (hoping today or tomorrow).

We just deployed the changes into production yesterday.

[2018-02-04 13:32] tomasc commented on #3
@wingrunr21 I am trying to test, but have hard time setting it up.
Can you please share a few steps required to get this running with React? Thanks!

[2018-02-09 06:38] zeeshan-za-ahmad commented on #27
Hi,

**`Uncaught Error: Cannot find module "turbolinks"`**

This app is really helpful. I am facing an issue with turbolinks adding to component.

[code]

Thanks

[2018-02-09 09:27] BookOfGreg commented on #27
@zeeshan-za-ahmad @renchap
I think I can help with this one.
I released a new version of react_UJS (The NPM module) that fixes a Turbolinks 5 issue.
https://github.com/reactjs/react-rails/pull/868

I've released it as the `--pre` tag waiting on a JQuery confirmation but this may fix your issue.

@justin808 It's rude to go into other people's repos and pitch your gem, please try to HELP people if y

[2018-02-20 14:33] renchap opened #51 "Update to react-hot-loader 4"
RC0 has been released. The API is much nicer and a lot of bugs have been fixed.

[2018-02-23 17:18] tomasc commented on #3
Here my findings:

[code]

The issue I am running now into is related to the use of `CommonsChunkPlugin` to isolate all vendor libs and consequent error: `ExecJS::ProgramError: ReferenceError: webpackJsonp is not defined`. I tried to make new `WebpackerSSR::React::Plugin` that would include the `manifest.json` file, but with no luck:

[code]

Help would be appreciated.

[2018-02-26 07:10] tomasc commented on #3
Thanks, @wingrunr21, that's very helpful, I will give it a try!

[2018-02-26 20:26] tomasc commented on #3
PS got it to work with no issues on webpacker 3.2.2 (although I do not use styled components).

[2018-03-01 03:42] jbharat opened #53 "Redux integration with React"
I have been using webpacker-react to render simple components in a ruby rails application. But I have a need now to share state with the components, and these components are at different places in ruby applications. I want to integrate redux with my application.

1. Can I use redux with WebpackerReact-react?
2. If yes, any example code of how to set it up with WebpackerReact.setup()?

I have tried

[2018-03-01 07:59] JeffreyCheng92 opened #54 "Importing styles from within component does not render them"
Im new to webpack and the confgis but cannot understand why inside my component (`user.jsx`), Im requiring the corresponding `user.scss` file but for some reason it is not rendering. The file is definitely being required somehow because breaking the `scss` file by having incomplete `{}` will throw an error.

Im using `style-loader', `css-loader`, and `sass-loader` following some guides but it does

[2018-03-01 08:38] BookOfGreg commented on #53
@jbharat
Yes you can use redux, webpacker-react is a thin wrapper over webpacker/webpack so if you can webpack it, you are likely able to use it here too.
Example from react-rails:
https://github.com/reactjs/react-rails/issues/878#issuecomment-368481036
 Most solutions are portable between these projects.

[2018-03-01 09:06] aaronsama commented on #54
Make sure you are also loading the stylesheet for your pack in `application.html.erb` as described here: https://github.com/rails/webpacker#usage

Once you start adding styles to your components, assuming your entry is called `application.js`, you must also include `application.css`

[code]

I don't think you need to edit your loaders in Webpack's configuration with the latest version of `webpacke

[2018-03-02 00:44] jbharat commented on #53
@BookOfGreg Thank you. I played around a bit with different code. Here is what I tried
[code]

this throws the following error `VM720 .... Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object`. This happens at ReactDom.render in the source code.

Then I started digging with the source code and in webpack

[2018-03-02 00:50] jbharat commented on #54
Have faced this issue, code given by @aaronsama solves it. Just include stylesheet_pack_tag

[2018-03-02 06:33] jbharat commented on #53
Got it running. Every component that needs redux should implement as below
[code]
[code]
Closing this bug

[2018-03-02 06:33] #53 closed

[2018-03-02 06:40] JeffreyCheng92 commented on #54
Thats exactly what it was @aaronsama. Funny how so many guides out there just ignore this point and choose to use the manifest file that comes packaged with rails. Thanks a lot!

[2018-03-02 06:40] #54 closed

[2018-03-09 13:40] tomasc commented on #3
@wingrunr21 would be helpful if the three projects could be release as gems already – even if as alpha.

[2018-03-09 16:04] wingrunr21 commented on #3
kk. I want to get some tests in place first. Crossing my fingers that I can use some weekend time on these projects.

[2018-03-09 16:05] tomasc commented on #3
Thanks. Once we get the base set up I can help with refining the edges.

[2018-03-18 16:36] raldred commented on #49
Here's what you need, this working for me, and maintaining state.

*development.js*
[code]

[2018-05-04 17:41] gafemoyano commented on #27
Hey, I've bumped into this issue as well.
For me, I found that the easiest way to handle this is to just let turbolinks know that it shouldn't cache pages that include React components with state by including something like

`<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>`
<%= react_component('Component', data: @data) %>

So this way the navigation

[2018-05-09 15:57] wingrunr21 commented on #3
Hey all,

So sorry. I have not forgotten about these projects. I'm blocking time this Friday to write documentation + make some additional improvements to the gems. Startup life...

[2018-05-10 10:42] BookOfGreg commented on #3
@wingrunr21 I know what you mean, barely have any time to work on react-rails anymore, moved company to a startup and there's no sponsored time anymore. Honestly good luck with this effort.

[2018-05-15 12:28] tomasc commented on #3
@wingrunr21 thanks – let me know if I can help anyhow. I have been running the `webpacker-ssr` group of gems in production for a while now and it works very fine so far.

[2018-05-25 13:51] MindRave commented on #27
Any news on this issue? I've tried the "no-cache" approach but it won't work for me. Emptied the cache, still nothing. The component just won't mount after a Turbolinks navigation. 😕

[2018-05-25 16:26] gafemoyano commented on #27
You could try disabling Turbolinks Page cache globally, and see if the cache is actually the reason why your react component is not getting mounted.

`  <meta name="turbolinks-cache-control" content="no-cache">
`

[2018-05-26 17:46] BookOfGreg commented on #27
Someone just needs to port over the detection fixes from React_UJS to this NPM package.
https://github.com/reactjs/react-rails/pull/868

[2018-06-05 18:30] cschar opened #55 "Readme says webpacker 0.4.0 but rubygems.org only has 0.3.2"
Tried to do bundle install with:
[code]

but said it couldn't find it
[code]

https://rubygems.org/gems/webpacker-react/
only lists version 0.3.2

Do you plan on uploading 0.4.0 to rubygems.org anytime soon?

[2018-06-05 18:31] #55 closed

[2018-06-14 00:13] mobyjames commented on #3
To anyone having issues, it took me a while to realize i needed to have a pack named `server_side_render.js` that looks something like this...

[code]

You must also use `react_server_component` instead of the usual `react_component` helper.

Fantastic work!

[2018-07-04 22:16] sic-f opened #56 "Error installing gem with version '~> 0.4.0'"
I get this:
`Could not find gem 'webpacker-react (~> 0.4.0)' in any of the gem sources listed in your Gemfile.`

[2018-07-05 10:33] BookOfGreg commented on #56
https://github.com/renchap/webpacker-react/releases

Looks like 0.4 hasn't been released yet.

[2018-08-16 12:20] simonjamain opened #57 "components not showing"
Hi, I can't seem to get my component working, the example `hellopack_react` (renamed base example, without webpacker-react and using javascript_pack_tag 'hellopack_react') works fine but my `Appointment` component and your example `hello_react` doesn't produce anything.
Can you point me what I am doing wrong ?

the code : [here](https://github.com/simonjamain/calreact/tree/db814b056a11c2595eb9830a

[2018-09-04 09:36] simonjamain commented on #57
I found the solution : see https://github.com/renchap/webpacker-react-example/issues/3

[2018-09-04 09:36] #57 closed

[2018-09-08 13:38] vmarquet commented on #56
Yes, it has not been pushed to rubygems yet: https://rubygems.org/gems/webpacker-react/

[2018-09-18 02:01] bkjohnson opened #58 "Difficulty with 3rd party components"
I'm using a `<Popup>` element from [Semantic UI](https://react.semantic-ui.com/modules/popup/) and I'm using it in a custom element like this:

[code]

I'd also like to do something similar on the rails side of things so in a view  I'm calling the helper like this:

[code]

However, after I add `Popup` to my `WebpackerReact.setup()` call I get errors in a dependency saying that `Element type is in

[2018-09-18 21:09] renchap commented on #58
This is indeed not supported. `react_component` renders a `<div>` element with some `data-` properties, and the JS `webpacker-react` part will call `ReactDOM.render` for each of these elements at page load.

This would be very hard to handle these use-cases and I am not sure this is the best approach. I would encourage you to create a new component that renders your `<Popup>` with the button and t

[2018-09-18 21:09] #58 closed

[2018-09-18 21:34] bkjohnson commented on #58
Thanks for letting me know, I'll use a wrapper component like you suggested.

[2018-10-02 20:28] jtokoph opened #59 "Allow default content in content_tag in case of noscript/render failure"
I would like to specify some default content that renders serverside within the content tag generated by the `react_component` helper. I've noticed that it defaults to calling `content_tag` with a `nil` body and created my own `react_component_with_defaults` helper like so:

[code]

This would theoretically allow me to pass a block with default content to render serverside as a fallback in the eve

[2018-10-04 08:53] BookOfGreg commented on #59
This comes up relatively often https://github.com/reactjs/react-rails/issues/901#issuecomment-412746677
https://github.com/reactjs/react-rails/issues/913#issuecomment-407677428

In general Ruby and JS contexts can't really share anything other than props. You could pass in child html though and dangerously render it to simulate react wrapping ruby content but not really recommended due to the dang

[2018-10-06 03:43] jtokoph commented on #59
I don't think I was clear enough. I don't care about the content in the block surviving. I just want some default server rendered content that will display if the user has javascript disabled or in the event that the initial mount fails. Think of it like having a `<noscript>..some serverside rendered version of the app...</noscript>`. My current solution is to use the noscript tag, but it doesn't

[2018-10-07 10:33] BookOfGreg commented on #59
Ah yes it seems like I misunderstood what you were after, sorry for that.
You wonder if there's a nice way of doing it within the react component taking advantage of the lifecycle hooks. Such as have a default noscript render, then remove it on something like `componentWillMount` which only triggers when JS is mounting client-side.

[2018-10-07 11:43] renchap commented on #59
I am open to have this feature implemented. With an optional block argument on the `react_component` helper we should not need to add a new helper (like your `react_component_with_defaults`).
One drawback is that if your pack file is loaded with `async` there might be a flash of content on page load, as the browser will display the HTML content, and our JS will remove the content from the DOM befo

[2018-10-08 06:32] jtokoph commented on #59
 I'm already using the `<noscript>` tag in conjunction with a `react_component` call for progressive enhancement purposes:

[code]

This pretty much gets the job done. I think the only improvement would be in the super rare case that javascript is enabled, but somehow the mounting of the component failed. Maybe an error in the bootstrapping of the react component or app, or some browser incompatib

[2018-11-12 17:41] bootcoder opened #60 "License Required"
Please add a license.

MIT, New BSD, CC0-1.0.... really any open source license so I can keep your gem in my project. Otherwise I'm going to be forced to rip it out and that would be decidedly not great.

I'm three weeks into building the framework for converting our large Angular/Rails app over to start using React. I really like the functionality and ease of render that `webpacker-react` gives m

[2018-11-12 20:42] #60 closed

[2018-11-12 20:43] renchap commented on #60
Thanks, I never saw that the license file was missing. This is now fixed!

I do not have much time currently, but if you send me a link to your app I can have a quick look, please tell me what to look for in an email :)

[2018-12-18 10:14] doaboa opened #61 "styles not initially rendering on page with multiple components (in production only)"
I'm transitioning a rails-only app.  I currently have two react components, and they behave correctly in my local environment.

In production/staging, the app works correctly, except when I load a page that contains both components.  In that case, the react components initially show mostly incorrect styles that don't exist anywhere else in my app.  When I click one of the components, all jss class

[2018-12-18 18:21] doaboa commented on #61
the issue is related to the way JSS and MUI interact.  In production, jss generates all classnames as js-#, hence causing class contamination.  closing as it's unrelated to webpacker.  more JSS / Material UI (material ui has a dated JSS dependency which can't be changed, not a peer)

[2018-12-18 18:21] #61 closed

[2018-12-18 19:11] doaboa commented on #61
For anyone who needs the fix, you can add a prefix to classes by overwriting the default generateClassName rules:

[code]

Then wrap your MuiThemeProvider in the JSS HOC
[code]

[2019-04-03 14:55] tomkra opened #62 "bind knockout variable to react_component helper"
Hello,

we are using knockout for front end and slowly migrating to react. Is there any posibility to bing knockout observable as prop to ```react_component``` helper?

For example in my knockout I have:
[code]
I'm trying to make comments section as react component and when I change active chapter, I need to pass new value from knockout to react_component helper.

I've tried these solutions, but n

[2019-04-06 20:52] mayrsascha commented on #56
@renchap Is it possible to release 0.4 already as it's stated [in the version file](https://github.com/renchap/webpacker-react/blob/master/lib/webpacker/react/version.rb)? I got confused by the README as on one hand this library is probably ready to work with Webpack 4 ([source](https://github.com/renchap/webpacker-react#installation)) and on the other hand also not ([source](https://github.com/re

[2019-04-06 21:49] tomkra commented on #62
After some googling stupid question. Closing.

[2019-04-06 21:49] #62 closed

[2019-04-07 15:16] BookOfGreg commented on #62
@tomkra what was the answer? It may help people in the future to know.

[2019-04-09 18:15] tomkra commented on #62
I'm not sure if this is correct solution, however It works like a charm and I didn't have to install another libraries.

So suppose I have ```@active_chapter_id = ko.observable()``` which stores current chapter and I need this variable pass to my react component anytime it changes. To do so I'm doing following:

_for javascript I'm combinig coffeescript with es5 syntax:_

1. subscribe active_chapt

[2019-07-09 16:39] renchap commented on #56
Sorry for the delay, it took me a long time to get back to maintaining this gem properly.

I just pushed [version 1.0.0-beta.1](https://github.com/renchap/webpacker-react/releases/tag/v1.0.0.beta.1) to Rubygems & NPM, feel free to test it!

[2020-01-27 20:47] edudepetris commented on #37
@renchap are there any update regarding "mount an individual component"?
Do you have any example about this comment https://github.com/renchap/webpacker-react/issues/42#issuecomment-328549657?

BTW: Amazing work, thx!

[2022-01-28 13:53] mferrerisaza opened #132 "How to migrate from this gem to the rails 7 setup?"
Hey

Since webpacker is being deprecated on Rails 7. I was wondering how could we migrate an app that uses this gem to the new rails 7 Esbuild/Webpack Setup.

Any help would be very much appreciated

[2022-01-31 21:03] JamesDullaghan commented on #132
I'm looking to get this working with `esbuild` and `esm` modules. There are old format modules using require in the script and seems like those need to be updated. Will look into the problem but if I don't find anything, maybe @renchap can weigh in. It would be great to get this working with Rails 7!

I would love to know as well. Looking into it and will leave a comment once I find a good answer.

[2022-02-03 13:49] renchap commented on #132
This gem is tied to Webpacker, and I think I will deprecate it as well following Webpacker's deprecation.

To replace Webpacker, you can either:
- use Shakapacker, a maintainer fork of Webpacker (but with significant changes)
- use jsbundling-rails, which is the new "Rails" way. This does not handle Hot Module Reloading
- switch to [Vite-Ruby](https://vite-ruby.netlify.app). It uses the Vite to po

[2022-02-06 22:00] net1957 commented on #132
I'm using this gem without webpacker (but without HSM).
I migrated my project from rails 6 to rails 7 with success.

I'm using jsbundling-rails with esbuild on rails 7.0.1, ruby 3.0.2

I only have to add lodash as dependency in package.json (perhaps it can be added as dependency to this module)

Perhaps this module should be renamed to suppress the reference to webpacker.
Hope this help!

[2022-02-07 10:13] renchap commented on #132
I made some tests and this gem indeed does not need Webpacker at all.

I am a bit busy right now, but I will try find find time to:
- remove all references to Webpacker
- find a new name (any ideas?)
- rewrite the JS part in typescript
- cleanup the repo / build system to use more modern tools and file layouts
- release this brand new version

[2022-02-11 03:41] yubele commented on #132
I upgraded rails7 from rails 6, that choise propshaft, jsbuilding-rails.

When I was using rails6, I used webpacker-react, but I didn't choose webpack, so I don't use it now.
However, I needed the react-component, so I placed the following modified version in `app/assets/javascripts/react/index.js` and it worked fine.

[code]

This file is almost equivalent to [this one.](https://github.com/rencha

[2022-02-20 08:48] yubele commented on #132
@renchap

I was going to make a gem with the above modified component, but I thought it would be better to decide this issue here, so I decided not to.
The rails component in esbuild is (js|css)bundling-rails, so I thought react-component-rails would be better.

Since react is an inseparable part of my project, I will maintain this.

[2022-02-20 21:04] net1957 commented on #132
Seems OK for me

[2022-02-27 22:08] renchap commented on #132
Thanks @yubele for the name suggestion, you are right, lets make it simple :)

I started a PR which renames this library and adopt a more modern JS build system rather that the current monster I created.
Its not yet finished, but I plan to work on it next week.

[2022-03-01 15:57] mferrerisaza commented on #132
Hey all, I've been out for a while, but thanks so much for the help and the kind responses. If there is some way I could help to move this to the finish line I've be more than happy to do so.

[2022-03-01 16:25] net1957 commented on #132
just a remark. Actually this gem require webacker in webpacker-react.gemspec:
[code]
So bundler add  this gem to the list of needed gem. As this is not needed, we can suppress it and reduce the size of the bundle.
If a user use webpacker, he add it directly to the Gemfile (It's already the Rail way).

It would be nice to release a latest version  of this gem without this requirement as it is not n

[2022-03-01 16:32] renchap commented on #132
As said above, I am working on a new version of this gem, with a new name and a much simpler setup.

You can see the work in progress in this PR: https://github.com/renchap/webpacker-react/pull/139

This new version will no longer depend on Webpacker (or Webpack).

[2022-03-31 20:31] net1957 commented on #132
React 18 is out  ( https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html) and change the rendering methods.

Perhaps it would be needed to test "React.version" to use the correct way (< React 18 or >= React 18) of rendering

[2022-08-16 21:40] net1957 commented on #132
The new beta 4 work as expected for my use.

[2022-09-13 13:56] rossta opened #145 "Support Shakapacker"
[Shakapacker](https://github.com/shakacode/shakapacker) is the successor to Webpacker. Shakapacker is a Webpacker fork and still uses the `Webpacker` module namespace and upgraded Webpacker Ruby code. Webpacker React is incompatible with Shakapacker since it declares legacy `webpacker` as a dependency.

https://github.com/renchap/webpacker-react/blob/174cad7a129083a1d18f20c56774d3b35b402cbc/webpac

[2022-09-15 15:52] rossta commented on #145
Closing per discussion in #146

[2022-09-15 15:52] #145 closed, assigned to nobody

[2022-09-15 16:52] rossta opened #147 "v1.0.0-beta.4 is incompatible with React <18"
## Expected Behavior

From the README:

I'd expect this library to work with React 17.

## Actual Behavior

During webpack compilation, I see the following error:

[code]

Dependencies:

* react-component-rails 1.0.0-beta.4
* react 17.0.2
* react-dom 17.0.2

## Analysis

It appears that the `import from "react-dom/client"` statement will not work in versions of React prior to 18.

One solution I c

[2022-09-15 21:53] renchap commented on #147
Thanks for your report.

This is weird as there is no `import … from "react-dom/client"` but a dynamic import (`await import('react-dom/client')`) which should be resolved at runtime and a failure means it fallbacks to the legacy import. But I guess webpack needs to resolve this path when generating the output before it sends it to the server?

I wanted to find a way to not require users to change

[2022-09-17 00:55] rossta commented on #147
Yes, I misspoke about the import. It is the dynamic import that webpack can't process at compile time even though the module isn't requested until runtime.

I know react-component-rails is meant to be bundler-agnostic and, while I don't know for sure if behavior affects other bundlers, I do have a webpack-specific workaround. I can instruct webpack to load another module instead in place of `react

[2022-09-17 11:37] rossta commented on #147
Version detection could be another option. Something like:

[code]